<div>
  <nz-descriptions nzTitle="Current exercise">
    <nz-descriptions-item nzTitle="Date">{{ currentExercise.date | date: 'dd/MMM/yyyy' }}</nz-descriptions-item>
  </nz-descriptions>
  <nz-divider></nz-divider>
  <ul nz-list [nzDataSource]="exercises" nzBordered nzSize="large">
    <nz-list-header>Previous</nz-list-header>
    <li nz-list-item *ngFor="let exercise of exercises" nzNoFlex>
      <ul nz-list-item-actions>
        <nz-list-item-action><a>edit</a></nz-list-item-action>
        <nz-list-item-action><a routerLink="/exercises/{{exercise.id}}/orders">orders</a></nz-list-item-action>
      </ul>
      {{ exercise.date | date: 'dd/MMM/yyyy' }}
    </li>
  </ul>
</div>