<div>
  <div class="ant-descriptions-header">
    <span class="ant-descriptions-title">Products</span>
    <button nz-button nzType="primary"><i nz-icon nzType="plus" nzTheme="outline"></i>New</button>
  </div>
  <nz-list class="demo-loadmore-list">
    <nz-list-item *ngFor="let item of products">
      <ng-container>
        <nz-list-item-meta
          nzAvatar="{{ item.image }}"
          nzDescription="{{ item.name }}"
        >
          <nz-list-item-meta-title>
            ${{ item.price }} / {{ item.measureUnit }}
          </nz-list-item-meta-title>
        </nz-list-item-meta>
        <ul nz-list-item-actions>
          <nz-list-item-action><a (click)="edit(item)">edit</a></nz-list-item-action>
        </ul>
      </ng-container>
      <!-- <nz-skeleton *ngIf="item.loading" [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="true"> </nz-skeleton> -->
    </nz-list-item>
  </nz-list>
</div>
